.validiraj{
    margin-left: 15px;
    background-color:bisque;
    height: 30px;
    width:80px; 
    cursor:pointer
}
.ponovi1{
    margin-top: 15px;
    background-color:cornsilk;
    height: 30px;
    width:80px; 
    cursor:pointer
}
a:link { text-decoration: none; }